{% ckan_extends %}

{% block footer_content %}
<div class="container">
  <div class="row" style="padding: 20px 0;">
    <div class="col-md-6">
      <h4 style="color: #fff; font-weight: 700; margin-bottom: 10px;">Satu Data Kabupaten Konawe</h4>
      <p style="color: rgba(255,255,255,0.7); font-size: 14px;">
        Dinas Komunikasi dan Informatika<br>
        Kabupaten Konawe, Sulawesi Tenggara<br>
        Indonesia
      </p>
    </div>
    <div class="col-md-6" style="text-align: right;">
      <p style="color: rgba(255,255,255,0.7); font-size: 14px; margin-top: 20px;">
        &copy; {{ '2026' }} Pemerintah Kabupaten Konawe<br>
        Powered by <a href="https://ckan.org" style="color: #f39c12;">CKAN</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
